.column_1 {
  width: 150px;
  float: right;
  margin-top: -65px;
}

.green_header {
  border: solid #a3bfb1;
  background-color: #cef2e0;
  width: 250px;
  font-size: 120%;
}

.img_float {
  float: left;
}

.class_p {
  text-align: left;
  padding-left: 125px;
}
